.logo{
 color: blue;
 text-transform: capitalize;
 text-align: right;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    top: 0%;
}

.hiddens li a{
    display: block;
    color: white;
    padding: 20px 22px;
    text-decoration: none;
}

.hidden1{
    display: flex;
    margin: 0;
    padding: 0;
    top: 0%;
    list-style-type: none;
}
.hidden2{
    display: flex;
    margin: 0;
    padding: 0;
    top: 0%;
    list-style-type: none;
}
.hidden3{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.hidden4{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.home-page{
    color: darkorange;
}

.project-page{
    color: rgb(236, 169, 14);
}

.skill-page{
    color: antiquewhite;
}

.contact-page{
    color: goldenrod;
}

ul li a{
    display: block;
    color: white;
    padding: 20px 22px;
    text-decoration: none;
}

ul li a.active{
    background-color: green;
}