<!DOCTYPE html>
<html lang="en">
 <head>
 <link rel="stylesheet" href="../Header/header.css"/>
 <link rel="stylesheet" href="../../assets/Font/font.css"/>
 <link rel="stylesheet" href="home.css"/>
 <title>Caleb Fletcher Portfolio</title>
 <meta lang="en">
 </head>
 <body>
  <header>
   <ul>
    <h2 class="logo">Caleb's Portfolio</h2>
    <li><a class="home-page" href="../Home/home.html">Home</a></li>
    <li><a class="project-page" href="../Projects/project.html">Projects</a></li>
    <li><a class="skill-page" href="../Skills/skill.html">Skills</a></li>
    <li><a class="contact-page" href="../Contact/contact.html">Contact</a></li>
   </ul>
  </header>
  <h2>Home</h2>
  <p>Welcome to my home page! There is nothing here or in my other pages as they are not linked up correctly but soon there will be. :) </p>
 </body>
</html>