body{
font-family: 'Comic Sans MS', 'Comic Sans', 'Arial', 'sans-serif', cursive;
}
nav{
font-family: 'Comic Sans MS', 'Comic Sans', 'Arial', 'sans-serif', cursive;
}
div{
font-family: 'Comic Sans MS', 'Comic Sans', 'Arial', 'sans-serif', cursive;
}
ul{
font-family: 'Comic Sans MS', 'Comic Sans', 'Arial', 'sans-serif', cursive;
}
html{
font-family: 'Comic Sans MS', 'Comic Sans', 'Arial', 'sans-serif', cursive;
}
object{
font-family: 'Comic Sans MS', 'Comic Sans', 'Arial', 'sans-serif', cursive;
}